{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-8">
                <h1>Edit Video</h1>
                <img width="400px" height="200px" src="/uploads/background/{{ video.background }}">

                {{ include('admin/videos/_form.html.twig') }}

            </div>
            <div class="col-xs-4">
                <h2>Related series</h2>
            {% for series in relatedSeries %}
                <div class="related-series">
                    <a href="{{ path('admin_series_edit', {'id': series.id}) }}">{{ series.name }}</a>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
