{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>Hello, {{ user.email }}</h2>
            </div>
            <div class="col-xs-4">
                <p>Here is your words</p>
                {% for words in user.savedWords %}
                    <p>{{ words }}</p>
                {% endfor %}
            </div>
            <div id="data" class="col-xs-8"></div>

        </div>
    </div>
{% endblock %}