{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Edit Video</h1>
                <img width="400px" height="200px" src="/uploads/background/{{ category.background }}">

                {{ include('admin/categories/_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
